# config file of report-generating script:
config.py

# python cache folder
__pycache__/

# compiled executables
src/*.exe

# vscode directory
.vscode/
src/.vscode/

# vscode CodeRunnerFile
tempCodeRunnerFile.py

# template C source code
template.c